.navbar-custom {
    background-color: #86762d;
    color: #000000;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 24px;
    font-variant: normal;
    line-height: 50px;
  }